<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ "Edit Author" if author else "Add Author" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Main Content -->
    <main>
        <h1>{{ "Edit Author" if author else "Add Author" }}</h1>

        <form method="POST">
            <ul class="form-list">
                <li>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="{{ author.name if author else '' }}" required>
                </li>

                <li class="form-actions">
                    <button type="submit">
                        {{ "Save" if author else "Add" }}
                    </button>
                    <a href="{{ url_for('authors') }}">Back to Authors</a>
                </li>
            </ul>
        </form>
        <!-- PAGE SELECTOR -->
        {% include "components/page-nav.html" %}
    </main>

</body>

</html>